.btn {
	padding: 10px 25px;
	border-radius: 4px;
	font-size: 16px;
	border: 1px solid transparent;
	transition: 150ms ease-in-out;
	color: slategray;
	background-color: snow;
	display: flex;
	align-items: center;
	cursor: pointer;

	svg {
		margin-right: 4px;
	}

	&.fab {
		border-radius: 100%;
		padding: 10px;
		font-size: 21px;

		svg {
			margin: 0;
		}
	}

	&.primary {
		background-color: slateblue;
		color: snow;

		&:hover {
			background-color: darken(slateblue, 5%);
		}
	}

	&.secondary {
		background-color: tomato;
		color: snow;

		&:hover {
			background-color: darken(tomato, 5%);
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.loadingIcon {
	animation: loading 1s ease-in-out infinite forwards;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
